body {
    margin: 0;
}

.heading {
    text-align: center;
    font-size: 4em;
    font-weight: 800;
    border-bottom: 1px solid;
    margin: 0px 50px;
}

.half {
    color: green;
}

.first {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(190, 231, 231);
}

.logos img {
    width: 80px;
    padding: 0px;
}

.menubar ul {
    justify-content: flex-end;
    display: flex;
    text-align: center;
    padding-top: 7.5px;
}

.menubar ul li {
    list-style: none;
}

.menubar ul li a {
    text-decoration: none;
    color: black;
    padding: 22px 15px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 50%;
}

.menubar ul li a:hover {
    background-color: beige;
}

.sec {
    display: flex;
}

h3 {
    color: green;
    font-size: 30px;
    margin: 0;
}

h1 {
    margin: 0;
    color: rgb(18, 18, 109);
    font-size: 60px;
}

.image img {
    width: 400px;
    border-radius: 50%;
    height: 400px;
    padding-left: 30px;
}

.text {
    width: 50%;
    padding-left: 40px;
}

.image {
    width: 50%;
}

.button {
    border-radius: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    background-color: rgb(18, 18, 83);
}

.btn {
    text-decoration: none;
    background-color: rgb(18, 107, 25);
    font-weight: 700;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

section {
    margin: 100px 0px;
}

.thired {
    display: flex;

}

.last {
    text-align: center;
}

.last h4 {
    font-size: 20px;
    margin: 0;
}

.last h3 {
    font-size: 40px;
}

.final {
    background-color: rgb(201, 197, 197);
    padding: 0px 40px;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.child {
    display: block;
    padding: 0px 30px;
    box-shadow: 1px 0px 20px 0px black;
    background-color: whitesmoke;
}

.child img {
    width: 250px;
}

.child p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}